@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="get" action="/quoteoftheday">
        <button type="submit" class="btn btn-primary">Go to Quote of the Day</button>
    </form>

</div>